*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/nn/src/main/python/model_file
/nn/src/main/python/__pycache__
/captures
.externalNativeBuild
.cxx
local.properties
*.onnx
*.pt
*.pyc
*.npy
*.bin
